# ---------- Framework ----------
Django==5.2.*
djangorestframework

# ---------- Base de données ----------
psycopg[binary]

# ---------- Configuration ----------
python-decouple

# ---------- API ----------
django-cors-headers

# ---------- Images ----------
Pillow

# ---------- Authentification ----------
djangorestframework-simplejwt

# ---------- Tests ----------
pytest
pytest-django
pytest-cov